<div class="popup request-pop-up" id="request-pop-up">
    <div class="popup__body">
      <div class="popup__content">
        <a href="#" class="popup__close popup--close"></a>
  
        <div class="popup__inner">
          <div class="popup__title">
            Добавить реквизиты
          </div>
  
          <div class="request-pop-up__top">
            <form>
              <div class="request-pop-up__input-wrap">
                <input class="request-pop-up__input" type="text" id="requst-1" placeholder="Ввести данные">
                <label class="request-pop-up__label" for="requst-1">Ввести данные реквизита</label>
              </div>
              <button class="request-pop-up__btn" type="submit">
                Cохранить
              </button>
            </form>
          </div>
          <div class="request-pop-up__bottom">
            <div class="table">
  
  
              <table class="table__inner">
                <caption>
                  <div class="table__top">
  
                  </div>
                </caption>
                <tbody>
                  <tr>
                    <th>Вкл</th>
                    <th>Реквизит</th>
  
                  </tr>
                  <tr>
                    <td>
                      <div class="table__check-wrap">
                        <input class="table__checkbox" type="checkbox" id="tb-rq-1">
                        <label class="table__check-label" for="tb-rq-1">
  
                        </label>
                      </div>
                    </td>
                    <td>6495673995847351</td>
                  </tr>
                  <tr>
                    <td>
                      <div class="table__check-wrap">
                        <input class="table__checkbox" type="checkbox" id="tb-rq-2">
                        <label class="table__check-label" for="tb-rq-2">
  
                        </label>
                      </div>
                    </td>
                    <td>6495673995847351</td>
                  </tr>
  
                </tbody>
              </table>
  
            </div>
          </div>
  
        </div>
  
      </div>
    </div>
  </div>