{% extends "main/base.html" %}

{% block content %}

  <section class="request">
    <h1 class="request__title title">Заявки</h1>
    <div class="request__inner">
      <div class="table">
        <table class="table__inner">
          <caption>
            <div class="table__top">
              <div class="table__top-btn">Заявки</div>
            </div>
          </caption>
          <tbody>
            <tr>
              <th>Номер</th>
              <th>Сумма</th>
              <th>Истекает через</th>
              <th>Действие</th>
            </tr>

            {% for item in req %}
            <tr>
              <td>{{ forloop.counter }}</td>
              <td>{{ item.amount }}</td>
              <td>{{ item.lifespan }}</td>
              <td>
                <a class="table__get js-popup--link" href="#request-pop-up"
                  >Принять</a
                >
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </section>
</div>
{% include 'main/popup.html' %}
{% endblock %}