.request-pop-up {
  color: $blue-light;

  &__input-wrap {
    margin-bottom: 20px;
  }

  &__label {
    position: absolute;
    z-index: -1;
    opacity: 0;
    pointer-events: none;
  }

  &__input {
    width: 100%;
    border: 1px solid $blue-light;
    border-radius: 5px;
    padding: 8px 15px;
    font-size: 14px;
    color: $blue-light;
    transition: box-shadow 0.3s;

    &:focus {
      outline: none;
      box-shadow: 0 0 10px rgba($blue-light, 0.3);
    }

    &::placeholder {
      color: $blue-light;
      opacity: 0.3;
    }
  }

  &__btn {
    width: 100%;
    font-size: 17px;
    text-align: center;
    padding: 6px 10px;
    background-color: $blue-light;
    border-radius: 5px;
    color: $default;
  }

  &__top {
    margin-bottom: 50px;
  }

  & .table__top {
    padding: 20px;
  }

  & table {

    & th,
    & td {
      &:first-child {
        width: 90px;

        @include adpt ($bmob-r) {
          width: 70px;
        }
      }
    }
  }

  & .table__inner tr:first-child th {
    padding: 10px 20px;
    height: 40px;
  }

  & .table__inner tr:not(:first-child) td {
    height: 40px;
  }

  &__bottom {
    max-height: 385px;
    overflow-y: auto;
  }
}