{% extends "main/base.html" %}

{% block content %}
  <section class="sale">
    <h1 class="sale__title title">Продажа</h1>
    <div class="sale__inner">
      <div class="table">
        <table class="table__inner">
          <caption>
            <div class="table__top">
              <div class="table__top-left">
                <button
                  class="table__top-btn js-table-btn _active"
                  type="button" id='in_active_btn'
                >
                  Активные заявки
                </button>
                <button class="table__top-btn js-table-btn" type="button" id='in_check_btn'>
                  На проверке
                </button>
                <button class="table__top-btn js-table-btn" type="button" id='closed_btn'>
                  Завершенные
                </button>
                <button class="table__top-btn js-table-btn" type="button" id='all_btn'>
                  Все
                </button>
              </div>
              <div class="table__top-right">
                <button class="table__btn-sw {% if user.power == True %}_active{%endif %}" id='activeBtn'>
                  <svg
                    width="30"
                    height="30"
                    viewBox="0 0 30 30"
                    fill="None"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M30 15C30 23.2843 23.2843 30 15 30C6.71573 30 0 23.2843 0 15C0 6.71573 6.71573 0 15 0C23.2843 0 30 6.71573 30 15ZM1.26426 15C1.26426 22.586 7.41396 28.7357 15 28.7357C22.586 28.7357 28.7357 22.586 28.7357 15C28.7357 7.41396 22.586 1.26426 15 1.26426C7.41396 1.26426 1.26426 7.41396 1.26426 15Z"
                      fill="#FF0000"
                    />
                    <path
                      d="M17.7893 11.2989C18.5633 11.8581 19.1393 12.649 19.4342 13.5571C19.729 14.4653 19.7273 15.4437 19.4293 16.3508C19.1313 17.258 18.5526 18.0468 17.7767 18.6033C17.0008 19.1598 16.068 19.455 15.1132 19.4464C14.1584 19.4377 13.2311 19.1256 12.4655 18.5551C11.6998 17.9846 11.1354 17.1854 10.854 16.273C10.5725 15.3606 10.5886 14.3823 10.8998 13.4797C11.2111 12.577 11.8014 11.7967 12.5853 11.2517L12.8018 11.5631C12.0839 12.0622 11.5434 12.7767 11.2584 13.6033C10.9734 14.4299 10.9587 15.3257 11.2164 16.1612C11.4741 16.9967 11.9909 17.7286 12.6921 18.251C13.3932 18.7733 14.2423 19.0592 15.1166 19.0671C15.9909 19.075 16.8451 18.8047 17.5556 18.2951C18.2661 17.7855 18.7961 17.0632 19.069 16.2325C19.3418 15.4018 19.3434 14.5059 19.0734 13.6742C18.8034 12.8426 18.276 12.1184 17.5672 11.6064L17.7893 11.2989Z"
                      fill="white"
                      stroke="#FF0000"
                    />
                    <path
                      d="M15.332 8.93268L15.4427 12.9311"
                      stroke="#FE0101"
                    />
                  </svg>
                </button>
              </div>
            </div>
          </caption>

          <tbody id='in_active'>
            <tr>
              <th>Номер заявки</th>
              <th>Реквизиты</th>
              <th>Отправляем</th>
              <th>Получаем</th>
              <th>Сделки</th>
              <th>Действия</th>
            </tr>
            {% for item in in_active %}
            <tr id='{{item.id}}'>
              <td>{{ forloop.counter }}</td>
              <td>{{ item.wallets }}</td>
              <td>{{ item.send }}</td>
              <td>{{ item.get }}</td>
              <td>{{ item.deals }}</td>
              <td>
                <button class="table__get"{% if user.power == False %}style="background-color: #4c4e53;;"{%endif %} {% if user.power == False %}disabled{%endif %} onclick="reqStatusSwitch({{item.id}})">Успешно</button>
                <button class="table__close" {% if user.power == False %}style="background-color: #4c4e53;;"{%endif %} {% if user.power == False %}disabled{%endif %} onclick="reqDelSwitch({{item.id}})">Отказаться</button>
              </td>
            </tr>
           {% endfor %}
          </tbody>


          <tbody id='in_check' style='display: none'>
            <tr>
              <th>Номер заявки</th>
              <th>Реквизиты</th>
              <th>Отправляем</th>
              <th>Получаем</th>
              <th>Сделки</th>
              <th>Действия</th>
            </tr>
            {% for item in in_check %}
            <tr>
              <td>{{ forloop.counter }}</td>
              <td>{{ item.wallets }}</td>
              <td>{{ item.send }}</td>
              <td>{{ item.get }}</td>
              <td>{{ item.deals }}</td>
              <td>
                <button class="table__get">Успешно</button>
                <button class="table__close">Отказаться</button>
              </td>
            </tr>
           {% endfor %}
          </tbody>


          <tbody id='closed' style='display: none'>
            <tr>
              <th>Номер заявки</th>
              <th>Реквизиты</th>
              <th>Отправляем</th>
              <th>Получаем</th>
              <th>Сделки</th>
              <!-- <th>Действия</th> -->
            </tr>
            {% for item in closed %}
            <tr>
              <td>{{ forloop.counter }}</td>
              <td>{{ item.wallets }}</td>
              <td>{{ item.send }}</td>
              <td>{{ item.get }}</td>
              <td>{{ item.deals }}</td>
              <!-- <td>
                <button class="table__get">Успешно</button>
                <button class="table__close">Отказаться</button>
              </td> -->
            </tr>
           {% endfor %}
          </tbody>

          <tbody id='all' style='display: none'>
            <tr>
              <th>Номер заявки</th>
              <th>Реквизиты</th>
              <th>Отправляем</th>
              <th>Получаем</th>
              <th>Сделки</th>
              <th>Действия</th>
            </tr>
            {% for item in all %}
            <tr>
              <td>{{ forloop.counter }}</td>
              <td>{{ item.wallets }}</td>
              <td>{{ item.send }}</td>
              <td>{{ item.get }}</td>
              <td>{{ item.deals }}</td>
              {% if item.status == 'Активная' %}
              <td>
                <button class="table__get">Успешно</button>
                <button class="table__close">Отказаться</button>
              </td>
              {% else %}
              <td>
                
              </td>
              {% endif %}
            </tr>
           {% endfor %}
          </tbody>


        </table>
      </div>
    </div>
  </section>
</div>

<script>
  // push active btn

    async function request(status, id, url) {
      const response = await fetch(url, {
        headers: {
          "Content-type": "application/x-www-form-urlencoded",
          "X-CSRFTOKEN": getCookie("csrftoken"),
        },
        method: "POST",
        body: new URLSearchParams({'status': status, 'id': id}),
      });
  }

  var activeBtn = document.getElementById('activeBtn')
  activeBtn.addEventListener("click", async function (e) {
    if (activeBtn.className == 'table__btn-sw _active' ) {
      activeBtn.className = 'table__btn-sw'
      await request(false, 0, '/switchPower');
      window.location.reload();

    } else {
      activeBtn.className = 'table__btn-sw _active'
      await request(true, 0, '/switchPower');
      window.location.reload();
    }
  });

</script>

<script>
  function sleep(ms) {
    return new Promise(resolve => setTimeout(resolve, ms));
  }

  async function reqStatusSwitch(id) {
    // successfully and refusal
      await request('Завершенная', id, '/switchStatus')
      document.getElementById(id).remove()

      window.location.reload();

  }
  
  async function reqDelSwitch(id) {
    await request('Отказ', id, '/switchStatus')
    document.getElementById(id).remove()

    window.location.reload();
  }

</script>



<script>
  var in_active_btn = document.getElementById('in_active_btn')
  var in_check_btn = document.getElementById('in_check_btn')
  var closed_btn = document.getElementById('closed_btn')
  var all_btn = document.getElementById('all_btn')

  in_active_btn.addEventListener("click", function (e) {
    document.getElementById('in_active').style = 'display';
    document.getElementById('in_check').style = 'display: none';
    document.getElementById('all').style = 'display: none';
    document.getElementById('closed').style = 'display: none';
  });
  in_check_btn.addEventListener("click", function (e) {
    document.getElementById('in_active').style = 'display: none';
    document.getElementById('in_check').style = 'display';
    document.getElementById('all').style = 'display: none';
    document.getElementById('closed').style = 'display: none';
  });
  closed_btn.addEventListener("click", function (e) {
    document.getElementById('in_active').style = 'display: none';
    document.getElementById('in_check').style = 'display: none';
    document.getElementById('all').style = 'display: none';
    document.getElementById('closed').style = 'display';
  });
  all_btn.addEventListener("click", function (e) {
    document.getElementById('in_active').style = 'display: none';
    document.getElementById('in_check').style = 'display: none';
    document.getElementById('all').style = 'display';
    document.getElementById('closed').style = 'display: none';
  });

</script>

{% endblock %}