{% extends "main/base.html" %}

{% block content %}

  <section class="request">
    <h1 class="request__title title">Заявки</h1>
    <div class="request__inner">
      <div class="table">
        <table class="table__inner">
          <caption>
            <div class="table__top">
              <div class="table__top-btn">Заявки</div>
            </div>
          </caption>
          <tbody>
            <tr>
              <th>Номер</th>
              <th>Сумма</th>
              <th>Истекает через</th>
              <th>Действие</th>
            </tr>

            {% for item in req %}
            <tr>
              <td>{{ forloop.counter }}</td>
              <td>{{ item.amount }}</td>
              <td class='lifespan'>{{ item.lifespan }}</td>
              <td>
                <a class="table__get js-popup--link" onclick='document.getElementById("active").value={{item.id}}' href="#request-pop-up"
                  >Принять</a
                >
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </section>
</div>
<script>
  function sleep(ms) {
    return new Promise(resolve => setTimeout(resolve, ms));
}

  async function timer() {
    while (true) {
      var lifespans = document.getElementsByClassName('lifespan')
      for (var i = 0; i < lifespans.length; i++) {
        lifespans[i].innerHTML = lifespans[i].innerHTML - 1

        if (lifespans[i].innerHTML <= 0) {
          location.reload()
        } 
        
      }
      await sleep(1000)
    }
    
  }
  timer()
</script>
{% include 'main/popup.html' %}
{% endblock %}